.article-style {
  text-align: justify;
}

.hero-lead {
  text-align: justify;
}

.hero-lead {
  font-size: 1rem;
}

.justified-text {
  text-align: justify;
}

.centered-text {
  text-align: center;
}

.nus-faculty-border {
  float: left;
  margin: 0 15px;
  border-left: 1.5pt solid #003D7C;
  width: 2px;
  height: 60px;
}

.nus-header {
  justify-content:space-evenly !important;
  padding: 8px;
}

.page-footer {
  background-color: #003062;
  padding: 50px;
  margin-top: 50px;
}

.copyright-license-text {
  color: #999999;
}

.powered-by {
  color: #999999;
  padding: 4px;
}

.navbar-brand-mobile-wrapper {
  text-align: center;
}

.navbar-logo-mobile-wrapper {
  margin: auto;
  display: inline;
}

#mobile-navbar-brand {
  display: inline-flex;
}

#mobile-logo-img {
  margin-right: 20px;
  margin-left: 4px;
}

// Style for header tag
header {
  background-color: #fff;
}

.navbar {
  background-color: #F8F8F8;
}

a {
  color: #003D7C;
}

a:hover {
  color: #EF7C00;
}

#footer-link {
  color: #999999;
}

#footer-link:hover {
  color: #fff;
}

.nav-item a.nav-link.active, .nav-item a.nav-link:hover {
  position: relative;
}

.nav-item a.nav-link.active::after, .nav-item a.nav-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -14px; /* Adjust based on your layout */
  width: 100%;
  height: 3px; /* Thickness of the horizontal line */
  background-color: #EF7C00;
}


html {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  line-height: 1.65;
}

a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.25;
}

p.powered-by, p.copyright-license-text {
  font-size: 12px;
}
