<footer class="site-footer">

  <div class="dept-footer">
    <div class="dept-name">
      College of Design and Engineering
    </div>
    <table class="dept-footer-table">
      <tr>
       <td> <i class="fa fa-location-arrow"></i></td>
       <td> 9 Engineering Drive 1, #07-26, EA, Singapore 117575</td>
      </tr>
      <tr>
        <td> <i class="fas fa-phone-alt"></i></td>
        <td> +65 6516 6666</td>
       </tr>
       <tr>
        <td> <i class="fas fa-envelope"></i></td>
        <td> Contact Us</td>
       </tr>
    </table>
  </div>

  <div class="dept-social-icons">
    <a href="https://www.facebook.com/nus.cde">
      <img src="/facebook_social_logo.png">
    </a>
    <a href="https://www.instagram.com/nus.cde.sg/">
      <img src="/instagram_social_logo.png">
    </a>
    <a href="https://www.linkedin.com/school/nus-cde/">
      <img src="/linkedin_social_logo.png">
    </a>
    <a href="https://www.youtube.com/c/NUSCollegeofDesignandEngineering">
      <img src="/youtube_social_logo.png">
    <a href="https://mp.weixin.qq.com/s/T4LHiSzJn537YjBqHna9Eg">
      <img src="/wechat_social_logo.png">
    </a>
  </div>

  <!-- <table>
    <thead>
        <tr>
            <th colspan="2">DEPARTMENT NAME</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="path_to_icon/address_icon.png" alt="Address Icon"></td>
            <td>1234 Street Name, City, Country</td>
        </tr>
        <tr>
            <td><img src="path_to_icon/phone_icon.png" alt="Phone Icon"></td>
            <td>+1 234 567 890</td>
        </tr>
        <tr>
            <td><img src="path_to_icon/contact_icon.png" alt="Contact Icon"></td>
            <td><a href="contact_page.html">Contact Us</a></td>
        </tr>
    </tbody>
  </table> -->

  {{ partial "functions/get_hook" (dict "hook" "footer-start" "context" .) }}

  {{/* Load footer block */}}
  {{ $footer_section_name := site.Params.footer.block | default "minimal" }}
  {{ $footer_section_path := printf "components/footers/%s.html" $footer_section_name }}
  {{ if not (templates.Exists (printf "partials/%s" $footer_section_path)) }}
    {{ errorf "Check your `params.yaml`. Cannot find footer block at `layouts/partials/%s`" $footer_section_path }}
  {{ end }}
  {{ partial $footer_section_path . }}

  <p class="powered-by">
    <a href="http://www.nus.edu.sg/legal-information-notices" id="footer-link">Legal</a> |
    <a href="http://www.nus.edu.sg/identity" id="footer-link">Branding Guidelines</a>
  </p>
</footer>
